<div class="bg-white shadow overflow-hidden sm:rounded-lg">
  <div class="px-4 py-5 sm:px-6">
    <h1 class="text-3xl font-bold text-gray-900"><%= action_name.capitalize %> Post</h1>
  </div>
  <div class="border-t border-gray-200 px-4 py-5 sm:px-6">
    <%= turbo_frame_tag dom_id(@post) do %>
      <%= render 'form', post: @post %>
    <% end %>
  </div>
</div>