<div class="bg-background shadow overflow-hidden sm:rounded-lg">
  <div class="px-4 py-5 sm:px-6">
    <h1 class="text-3xl font-bold text-primary">Blog Posts</h1>
  </div>
  <div id="notice" class="px-4 py-3 sm:px-6 text-text"></div>
  <div id="posts" class="border-t border-gray-200">
    <% @posts.each do |post| %>
      <%= render 'post', post: post %>
    <% end %>
    <%= paginate @posts %>
  </div>
</div>