<div class="bg-white shadow overflow-hidden sm:rounded-lg">
  <div class="px-4 py-5 sm:px-6">
    <h1 class="text-3xl font-bold text-gray-900">Blog Posts</h1>
  </div>
  <div id="notice" class="px-4 py-3 sm:px-6"></div>
  <div id="posts" class="border-t border-gray-200">
    <%= render @posts %>
  </div>
</div>